$spacer: 1rem;
$spacer2x: $spacer*2;
$spacer1_2: $spacer*0.5;

$font_size-base: 1rem;
$font_size-default: $font_size-base*0.875;
$font_size-s: $font_size-base*0.5;
$font_size-l: $font_size-base*1.5;

$font_weight-normal: 400;
$font_weight-thin: 300;
$font_weight-bold: 500;
$font_weight-bolder: 600;

$font-family: 'Ubuntu', 'Poppins', 'Roboto', sans-serif;


$white: #FFFFFF;
$black: #000;
